<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NAudio" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net472" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net472" />
</packages>
